*{
    margin: 0;
    padding: 0;
}

.body{
    background-color: #1bebd9;
}
.quote{
    text-align: center;
    background-color: #05445E;
    color:ivory;
    width: auto;
    
}


.navbar {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    background-color: #05445E;
    /* padding: 30px; */
    color: ivory;

    
}

.ele{
    display: flex;
    justify-content: center;
    width: 30vw;
    /* padding: auto; */
    gap: 20px;
    align-items: center;
    justify-items: center;
    margin: auto;

}
.ele div a{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.dashboard {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    padding-right: 30vw;
    margin-right: 30vw;
    
}

@media (max-width: 700px) {
    .ele{
    display: flex;
    justify-content: center;
    width: 30vw;
    /* padding: auto; */
    gap: 0.4em;
    align-items: center;
    justify-items: center;
    /* margin: auto; */
    /* margin-right: 0.1vw; */

}
.ele div a{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.dashboard {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    padding-right: 10vw;   
}
.dashboard button {
    background-color: #05445E;
    color: ivory;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10vw;
}
}


.dashboard button {
    background-color: #05445E;
    color: ivory;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    /* margin-right: 30%; */
}
.dashboard span{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: ivory;
    display: flex;
    align-items: center;
}


#icon{
    padding: 10px;
    color:ivory;
}

#icon:hover{
    background-color: ivory;
    color:#05445E;
    border-radius: 50% 50% ;

}
.question_img{
    height: 50px;
    width: 50px;
}
.question_box1{
    background-color: ivory;
    padding-top: 50px;
    padding-bottom: 25px;
    /* padding: 25px; */
  
}
.question_box{
    border: 3px black solid;
    border-radius: 40px;
    color: ivory;
    text-align: center;
    background-color: #189AB4;
    margin: auto;
    width:fit-content;
    /* display: block; */
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;

}

.out_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust the height based on your design */
    background-color: ivory;
}

.btn_submit {
    text-align: center;
}
#submit_btn{
    align-self: center;
    background-color: rgb(107, 226, 107);
    border-radius: 10px;
    border: 2px solid black;
    height: 50px;
    width: 100px;
}
/* .question_box{
  
    border: 3px black solid;
    border-radius: 40px;
    color: ivory;
    text-align: center;
    background-color: 
#189AB4;
margin-top: 20px;
margin-bottom: 20px;
margin-left: 20px;
margin-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;

} */
/* #list1{
    text-align: center;
    padding-left: 30px;
   display: flex;
    height: 50px;
    width: 150px;
    border: 2px black solid;
    background-color: #75E6DA;;
    margin :10px;
   cursor: pointer;
} */
#list1{

    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    
   
}
#list1 >div{
    margin: auto;
}
#list2{
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px black solid;
    background-color: #75E6DA;
    height: 50px;
    width: 150px;
    display: flex;
}
#list1 img{
    display: inline-block;
    margin-left: 170px;

}
#list1 input{
    text-align: center;
    /* margin-left: 110px; */
  
    width: 200px;
    font-weight: 600;
    background-color: ivory;
}
#list1 input:hover{
    display: -webkit-inline-flex;
    text-align: center;
    cursor:text;
    font-weight: 600;
    background-color:white;
}
#list1:hover{
    border:3px;
    /* background-color:#14c2b1;  */
}

.list{
  background-color: ivory; 
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    padding-top: 25px;
    padding-left: 25px;
    width: 100%;
    height: 300px;
}





 





