<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style_lo.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Log-Out</title>
</head>
<body>
    <div class="outer">
        <div class="box">
            <!-- <span class="material-symbols-outlined" style="font-size:20vw; color: green;">
                minimize
                </span> -->
            <div class="material-symbols-outlined" style="font-size:15vw; color: green;" >
                check_circle
            </div>
            <!-- <span class="material-symbols-outlined" style="font-size:20vw; color: green;">
                minimize
                </span>     -->
            <h3>You have been logged out.</h3>
            <a href="http://localhost:3000/"><button class="btn" >Login Again</button></a></div>
        </div>
        
    </div>
</body>
</html>