
.quote{
    text-align: center;
    background-color: #05445E;
    color:ivory;
    
}

.navbar{
    background-color: #05445E;
    color:ivory;
    display: flexbox;
    text-align: center;
    padding: 50px;
    
    
}
#icon{
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

#icon:hover{
    background-color: ivory;
    color:#05445E;
    border-radius: 50% 50% ;

}
.question_img{
    height: 50px;
    width: 50px;
}

.question_box1{
    background-color: ivory;
    padding-top: 50px;
    padding-bottom: 25px;
    /* padding: 25px; */
  
}
.question_box{
    border: 3px black solid;
    border-radius: 40px;
    color: ivory;
    text-align: center;
    background-color: #189AB4;
    margin: auto;
    width:fit-content;
    /* display: block; */
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;

}
.pairs{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    margin: auto;
    width:100vw;
    background-color: ivory;
    /* overflow: hidden; */
    /* flex-direction: row; */
}

/* #canvas{

} */

.pair1_ele{
    display: inline-flex;
    flex-direction: column;
    width:25vw;
    height: 60vh;
    margin: auto;
    /* margin-left: 10vw;
    margin-left: 10vw; */

}
.pair2_ele{
    display: inline-flex;
    flex-direction: column;
    width:25vw;
    height: 60vh;
    margin: auto;
    /* margin-right: 10vw; */

}
.pair1{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    display: inline-flex;
    /* width: 25%; */
    margin: auto;
    width: 20vw;
    height: 9vh; 
    background-color: #189AB4;
    border: 2px solid black;
    /* margin-top: 20px;
    margin-left: 200px; */
  
   cursor: pointer;
    /* margin-right: 100px; */
}
.pair2{
    /* margin: 10px; */
    margin: auto;
    justify-content: center; 
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    display: inline-flex;
    /* width: 25%; */
    width: 20vw;
    height: 9vh; 
    background-color: #189AB4;
    border: 2px solid black;
    /* margin-top: 20px;
    margin-left: 200px; */
  
   cursor: pointer;
    /* margin-right: 100px; */
}
.pair1:hover{
    background-color: #08719e;
}
.pair2:hover{
    background-color: #08719e;
}
/* ... (Your existing styles) ... */

.line{
    background-color: black;
    height: 2px;
    position: absolute;
    /* transform-origin: 0% 0%; */
    /* width: 400px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#new{
    height:20vh;
    border: 2px solid rgb(61, 65, 61);
    box-shadow: 0 4px 8px #05445E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: 20px;
    width: fit-content;
    margin: 10vw;
    margin-left: auto;
    margin-right: auto;
    padding: 5vw;
    background-color: #189AB4;
    color: ivory;
}    
#remove{
    background-color: ivory;
    height: 100vh;
    /* padding: 25px; */
}


 





